<launch>

   <!--master auto="start"/-->
 <!-- Run the map server --> 
    <!--node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/-->

 <!--- Run AMCL --> 
    <include file="$(find ros_control_boilerplate)roboto_control/launch/amcl_diff.launch"/>
   <!--include file="$(find diff_drive)/launch/06-gmapping.launch"/-->
<!--Run costmap-->
<!--include file="$(find ros_control_boilerplate)roboto_control/launch/costmap2d.launch" /-->


   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   

    <rosparam file="$(find ros_control_boilerplate)/roboto_control/config/costmap_common_params_cam.yaml" command="load"  ns="global_costmap" /> 
    <rosparam file="$(find ros_control_boilerplate)/roboto_control/config/costmap_common_params_cam.yaml" command="load" ns="local_costmap" />
     <rosparam file="$(find ros_control_boilerplate)/roboto_control/config/dwa_planner_params.yaml" command="load" />
    <rosparam file="$(find ros_control_boilerplate)/roboto_control/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_control_boilerplate)/roboto_control/config/global_costmap_params.yaml" command="load" /> 
    <!--rosparam file="$(find ros_control_boilerplate)/roboto_control/config/base_local_planner_params.yaml" command="load" /-->
    <rosparam file="$(find ros_control_boilerplate)/roboto_control/config/move_base_params.yaml" command="load" />

    <remap from="cmd_vel" to="/diff_drive_controller/cmd_vel"/>
 </node>

</launch> 
